@charset "UTF-8";
body  {
	background: #333;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center;
}
#container  {
	width: 910px;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #036;
	text-align: left;
	background: #F5F2E5;
} 
#header  {
	padding: 0;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	margin: 0px;
} 
#header h1  {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 0px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}
#sidebar1  {
	float: left; /* since this element is floated, a width must be given */
	width: 226px; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 0px;
	margin: 0px;
	background: #B6AF9F;
}
#sidebar1 img {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}
#sidebar1 p {
	font: 900 18px/36px Helvetica, Arial, sans-serif;
	color: #036;
	text-decoration: none;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#sidebar1 p a:link {
	font: 900 18px/36px Helvetica, Arial, sans-serif;
	color: #036;
	text-decoration: none;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#sidebar1 p a:visited {
	font: 900 18px/36px Helvetica, Arial, sans-serif;
	color: #036;
	text-decoration: none;
	text-align: center;
}
#sidebar1 p a:hover {
	font: 900 18px/36px Helvetica, Arial, sans-serif;
	color: #903;
	text-decoration: none;
	text-align: center;
}
#sidebar1 p a:active {
	font: 900 18px/36px Helvetica, Arial, sans-serif;
	color: #006;
	text-decoration: none;
	text-align: center;
}
#mainContent  {
	margin: 0 0 0 250px; /* the left margin on this div element creates the column down the left side of the page - no matter how much content the sidebar1 div contains, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends. */
	padding: 0 20px;
	text-align: left;
} 
#mainContent p   {
	font: lighter 16px/20px Helvetica, Arial, sans-serif;
	color: #036;
	text-align: left;
}
#mainContent h1 {
	font: bolder 24px Helvetica, Arial, sans-serif;
	color: #036;
	margin-bottom: -15px;
}
#mainContent h2 {
	font: bolder 18px/18px Helvetica, Arial, sans-serif;
	color: #036;
	margin-bottom: -15px;
}
#footer  {
	padding: 0; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#D4A267;
	margin: 0px;
	clear: both;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
} 
#footer p {
	font: normal 12px Helvetica, Arial, sans-serif;
	color: #036;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
#footer p  a:link{
	font: normal 12px Helvetica, Arial, sans-serif;
	color: #036;
	text-decoration: none;
	padding: 20px 0px 0px;
}
#footer p a:visited {
	font: normal 12px Helvetica, Arial, sans-serif;
	color: #036;
	text-decoration: none;
	margin: 0px;
	padding: 20px 0px 0px;
}
#footer p a:hover {
	font: normal 12px Helvetica, Arial, sans-serif;
	color: #903;
	text-decoration: none;
	padding-top: 20px;
}
#footer p a:active {
	font: normal 12px/12px Helvetica, Arial, sans-serif;
	color: #036;
	text-decoration: none;
	padding-top: 20px;
}
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}